.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.position {
  width: 9vw;
  max-width: 9vh;
  max-height: 9vh;
  margin: min(0.5vw, 0.5vh);
}

.bead {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url(../../assets/block.png) center no-repeat;
  background-size: 100%;
}